/** Colors */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  margin: 0px;
  font-family: "roboto", sans-serif;
  counter-reset: steps;
}

a {
  text-decoration: none;
}

main {
  padding: 0 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

.loader {
  animation: hideAnimation 0s ease-in 4s;
  animation-fill-mode: forwards;
}
.loader_ajax-flipper {
  width: 125px;
  height: 45px;
  /* 	border:1px solid black; */
  /* 	border-radius: 0px 23px; */
  display: block;
  z-index: 11111;
  position: absolute;
  top: 30%;
  left: 35%;
  margin: 100px auto;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.loader_ajax-flipper_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  height: 100%;
  width: 100%;
  display: none;
}
.loader_ajax-flipper_container {
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10000;
  /* 	background: rgba(0, 0, 0, 0.6); */
  background: transparent;
}
.loader_ajax-flipper_container_flip-animation {
  box-shadow: -1px 2px 7px 3px #ffa8d8;
  -webkit-animation: rotation3D_1 1.8s infinite ease-in-out;
  animation: rotation3D_1 1.8s infinite ease-in-out;
}
.loader_ajax-flipper_container_overlap-flip-animation {
  margin-top: 99px;
  -webkit-animation: rotation3D_2 1.8s infinite ease-in-out;
  animation: rotation3D_2 1.8s infinite ease-in-out;
}

.ajax-flipper {
  width: 125px;
  height: 45px;
  /* 	border:1px solid black; */
  /* 	border-radius: 0px 23px; */
  display: block;
  z-index: 11111;
  position: absolute;
  top: 30%;
  left: 35%;
  margin: 100px auto;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-animation {
  box-shadow: -1px 2px 7px 3px #ffa8d8;
  -webkit-animation: rotation3D_1 1.8s infinite ease-in-out;
  animation: rotation3D_1 1.8s infinite ease-in-out;
}

.ajax-flipper-container {
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10000;
  /* 	background: rgba(0, 0, 0, 0.6); */
  background: transparent;
}

/** ajax-flipper-container is not working in safari due to this extra overlay is required for safari. */
.ajax-flipper-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  height: 100%;
  width: 100%;
  display: none;
}

/* This animation overlap the the current animation of image to show the image is rotate in right way.*/
.overlap-flip-animation {
  margin-top: 99px;
  -webkit-animation: rotation3D_2 1.8s infinite ease-in-out;
  animation: rotation3D_2 1.8s infinite ease-in-out;
}

.ajax-flip-img {
  width: 85px;
  height: 22px;
  transform-origin: 41% 54%;
  vertical-align: middle;
  position: relative;
  top: 25%;
  left: 16%;
}

img.rotate-180-y {
  left: 29%;
  transform: rotateY(180deg);
}

.loader .loader_ajax-flipper_overlay,
.loader .loader_ajax-flipper_container {
  display: block;
}

.header {
  text-align: center;
  align-content: center;
  position: relative;
}
.header_localization {
  box-shadow: 0 0.188rem 0.188rem 0 rgba(0, 0, 0, 0.05) inset;
  display: flex;
  justify-content: center;
  color: black;
  background-color: #f3f3f3;
}
.header_logo {
  padding: 12px;
}
.header i {
  margin-right: 0.625rem;
  padding-top: 1rem;
}
.header p {
  margin: 17px;
}

.intro {
  margin-top: 25px;
}
.intro h2 {
  width: 70%;
  font-size: 25px;
  text-align: center;
  margin: auto;
}
.intro p {
  text-align: center;
  align-content: center;
  font-size: 16px;
  font-weight: 300;
}
.intro_subtitle {
  width: 80%;
  margin: auto;
  padding-top: 10px;
}
.intro_main {
  margin-top: 25px;
}
.intro_main_button {
  height: 55px;
  width: 240px;
  padding: 15px;
  border-radius: 30px 30px 30px 30px;
  color: white;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin: auto;
  font-weight: bold;
  box-shadow: 1px 4px 12px -3px rgba(0, 0, 0, 0.95);
  cursor: pointer;
  transition-duration: 0.25s;
}
.intro_main_button:hover {
  transform: scale(1.02);
}

.step_title {
  padding: 30px 35px 15px;
}
.step ol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 85%;
  font-size: 15px;
  font-weight: 700;
}
.step li {
  position: relative;
  background-color: #f6f6f6;
  padding: 10px 15px;
  flex-grow: 1;
  box-shadow: 1px 4px 12px -3px rgba(0, 0, 0, 0.95);
  cursor: pointer;
  border-radius: 18px;
  padding: 25px;
  list-style-type: none;
}
.step li::before {
  counter-increment: steps;
  content: counter(steps);
  background-color: #9356DC;
  color: white;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 25px;
  left: -10px;
}
.step li:hover {
  transform: scale(1.02);
  background-color: #f2eafb;
}
.step li:hover i {
  color: #9356DC;
}
.step li i {
  margin-right: 10px;
  color: #7e7e7e;
}

.cards {
  background-color: #f6f6f6;
  width: 100%;
  margin-bottom: 50px;
}
.cards h3 {
  padding: 30px 10px 5px 25px;
  margin: 1rem;
}
.cards_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}
.cards_list_restaurant {
  height: 250px;
}
.cards_list_restaurant_image {
  margin-left: 19px;
  width: 90%;
  object-fit: cover;
  height: 190px;
  border-radius: 10px 10px 0 0;
}
.cards_list_restaurant_description {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 90%;
  margin-left: 18px;
  border-radius: 0 0 10px 10px;
  padding-bottom: 10px;
}
.cards_list_restaurant_description_title {
  width: 80%;
}
.cards_list_restaurant_description_heart {
  margin: auto;
  font-size: 25px;
}
.cards_list_restaurant_description_heart :hover {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
.cards h4,
.cards p {
  margin: 5px;
  margin-left: 15px;
  color: black;
}

.p_description {
  font-weight: 300;
}

.new {
  position: relative;
}

.new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 4rem;
  background-color: #99E2D0;
  padding-left: 3px;
  color: green;
  font-size: smaller;
  text-align: center;
  display: grid;
  place-items: center;
  right: 2rem;
  top: 1rem;
  font-weight: 700;
  border-radius: 3px;
  /*@media only screen and (min-width : 1224px) {
      right: 15rem;
      top: 3rem;
  }*/
}

footer {
  background-color: #353535;
  padding: 2rem 2rem;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
footer h2 {
  font-family: "shrikhand", sans serif;
  font-weight: 500;
  font-size: 20px;
  margin: 0 0 1rem 0;
}
footer p {
  margin: 4px;
  padding-top: 5px;
}
footer a {
  color: white;
  padding-left: 3px;
}

#restau {
  background-color: #f6f6f6;
  width: 100%;
}
#restau .banner img {
  max-width: 100%;
  object-fit: cover;
}
#restau header {
  display: flex;
  flex-direction: row;
}
#restau .header_logo-restau {
  display: flex;
  width: 100%;
  justify-content: center;
}
#restau .header_logo-restau img {
  width: 50%;
}
#restau .arrow {
  padding: 20px;
  font-weight: 600;
  cursor: pointer;
}
#restau .arrow_icon {
  font-size: 1.5rem;
  margin-right: unset;
  padding-top: unset;
}
#restau .main {
  border-radius: 1rem 1rem 0 0;
  margin-top: -57px;
  position: relative;
}
#restau .main_container {
  display: flex;
  flex-direction: row;
  padding: 1rem 1rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
}
#restau .main_container_title {
  width: 90%;
}
#restau .main_container_title_text {
  font-family: "Shrikhand", "cursive";
}
#restau .main_container_heart {
  margin: auto;
  font-size: 25px;
}
#restau .main_container_heart :hover {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
#restau .menu h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
  padding-top: 26px;
}
#restau .menu_flex {
  position: relative;
}
#restau .menu_flex > * {
  border-radius: 1rem;
}
#restau .menu_flex_item {
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 15px;
  font-size: 17px;
  height: 45px;
  box-shadow: 1px 4px 12px -3px rgba(0, 0, 0, 0.95);
  animation: appear 1s;
  animation-fill-mode: both;
  overflow: hidden;
}
#restau .menu_flex_item:nth-child(1) {
  animation-delay: 100ms;
}
#restau .menu_flex_item:nth-child(2) {
  animation-delay: 200ms;
}
#restau .menu_flex_item:nth-child(3) {
  animation-delay: 300ms;
}
#restau .menu_flex_item_description p {
  font-weight: 300;
  font-size: 15px;
}
#restau .menu_flex_item_price {
  display: flex;
  margin-left: auto;
  align-items: flex-end;
}
#restau .menu_flex_item_price_check {
  background-color: #99E2D0;
  padding: 1rem;
  margin-right: -3rem;
  width: 3rem;
}
#restau .menu_flex_item_price:hover .menu-item_check {
  margin-right: 0;
}
#restau .menu_flex_item_price > * {
  padding: 1rem;
}
#restau .menu .intro_main_button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transform: scale(1.02);
}
#restau .menu hr {
  background-color: #99E2D0;
  height: 2px;
  width: 9%;
  margin-left: 0;
  border: none;
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotation3D_1 {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(-179.9deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(-359.1deg);
  }
}
@keyframes rotation3D_1 {
  0% {
    transform: perspective(120px) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateY(0deg);
    background: white;
  }
  50% {
    transform: perspective(120px) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateY(-179.9deg);
    background: white;
  }
  100% {
    transform: perspective(120px) rotateY(-359.1deg);
    -webkit-transform: perspective(120px) rotateY(-359.1deg);
    background: white;
  }
}
@-webkit-keyframes rotation3D_2 {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(-179.9deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(-359.1deg);
  }
}
@keyframes rotation3D_2 {
  0% {
    transform: perspective(120px) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateY(0deg);
    background: white;
    opacity: 0;
  }
  50% {
    transform: perspective(120px) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateY(-179.9deg);
    background: white;
    opacity: 1;
  }
  100% {
    transform: perspective(120px) rotateY(-359.1deg);
    -webkit-transform: perspective(120px) rotateY(-359.1deg);
    background: white;
    opacity: 0;
  }
}
@keyframes hideAnimation {
  to {
    visibility: hidden;
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
