@keyframes appear {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes hideAnimation {
    to {
        visibility: hidden;
        display: none;
    }
}

@keyframes translate-left {
    0%{
        transform: scaleX(0);
        min-width: 0%;
    }
    
    5%{
        transform: scaleX(.05);
    }

    18%{
        transform: scaleX(.18);
    }

    24%{
        transform: scaleX(.24);
    }

    50%{
        transform: scaleX(.50);
    }

    65%{
        transform: scaleX(.65);
    }
    
    80%{
        transform: scaleX(.81);
    }
    
    100%{
        transform: scaleX(1);
    }
}

@keyframes rotate-icon {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}