footer {
    background-color: $darkgrey;
    padding: 2rem 2rem;
    color: white;
    font-size: 18px;
    font-weight: 500;
    
    .footer {
        @include desktop {
            display: flex;
            flex-direction: column;
        }
    }

    h2 {
        font-family: "shrikhand", sans serif;
        font-weight: 500;
        font-size: 20px;
        margin: 0 0 1rem 0;
    }

    p {
        margin: 4px;
        padding-top: 5px;
    }

    a {
        color: white;
        padding-left: 3px;
        @include desktop {
            padding-top: 7px;
        }
    }
}