.intro {
    margin-top: 25px;

    & h2 {
        width: 70%;
        font-size: 25px;
        text-align: center;
        margin: auto;
    }

    & p {
        @include text-center;
        font-size: 16px;
        font-weight: 300;
    }

    &_subtitle {
        width: 80%;
        margin: auto;
        padding-top: 10px;
    }

    &_main {
        margin-top: 25px;
        &_button {
            @include intro_button;
        }

    }

    
}