.intro{
    margin-top: 25px;
    & h2 {
    width: 70%;
    font-size: 25px;
    text-align: center;
    margin: auto;
} & p {
    @include text-center;
    font-size: 18px;
} &_subtitle {
    width: 80%;
    margin: auto;
    padding-top: 10px;
} &_button {
    @include intro_button;
}
}