.step {
    margin-bottom: 3rem;
    &_title {
        padding: 30px 35px 15px;
        @include tablet {
            font-size: 23px;
        }
        @include desktop {
            padding: 48px 35px 15px;
            font-size: 22px;
        }
       

    }

    & ol {
        @include flex-column;
        gap: 20px;
        width: 85%;
        font-size: 15px;
        font-weight: 700;
        @include desktop {
            display: flex;
            width: 93%;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }

    & li {
        position: relative;
        @include tablet {
            width: 100%;
            font-size: 18px;
        }
        @include desktop {
            font-size: 16px;
        }
       

        &::before {
            @include step-design
        }

        background-color: $lightgrey;
        padding: 10px 15px;
        flex-grow: 1;
        @include box-shadow;

        &:hover {
            @include transform-scale;
            background-color: lighten($primary-color, 35%);
            & i {
                color: $primary-color;
            }
        }

        cursor: pointer;
        border-radius: 18px;
        padding: 25px;

        & i {
            margin-right: 10px;
            color: $grey;
        }

        list-style-type: none;
    }
}